{% assign header = settings.cart_line_items_table_header_product_description %}

{% assign each = settings.cart_line_items_table_header_each %}

{% assign quantity = settings.cart_line_items_table_header_quantity %}

{% assign total = settings.cart_line_items_table_header_total %}

{% assign remove = settings.cart_line_items_table_header_remove %}

<div class="border-bottom-detail medium-down--hide hide-on-large">
  <div class="grid-bar flex cart-product-th-wrap margin-left--none">
    <div class="grid-item cart-product-th-section padding-left--none!">
      <span class="font-primary line-height--up-4 font-normal font-size--up-1">{{ header }}</span>
    </div>

    <div class="grid-item cart-product-details-th-section padding-left--none! one-whole">
      <div class="grid-bar position-relative flex flex-item-center flex-space-between cart-item-th one-whole margin-left--none">
        <div class="grid-item padding-left--none! item-price-label">
          <span class="font-primary line-height--up-4 font-normal font-size--up-1">{{ each }}</span>
        </div>
        <div class="grid-item padding-left--none! item-quantity-label">
          <span class="font-primary line-height--up-4 font-normal font-size--up-1">{{ quantity }}</span>
        </div>
        <div class="grid-item padding-left--none! item-total-label">
          <span class="font-primary line-height--up-4 font-normal font-size--up-1">{{ total }}</span>
        </div>
        <div class="grid-item padding-left--none! item-remove-label">
          <span class="font-primary line-height--up-4 font-normal font-size--up-1">{{ remove }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
