{% assign product = item.product %}

{% include "attribute-product-finish" %}

{% assign price_each = item.price %}

{% assign price_total = item.price | times: item.quantity %}

{% capture price_each_label %}
  <span class=money>{{ item.price | money | remove: " " }}</span>
{% endcapture %}

{% capture price_total_label %}
  <span class=money>{{ price_total | money | remove: " " }}</span>
{% endcapture %}

{% assign product_title = item.product.title %}

{% assign product_url = item.product.url %}

{% assign image_src = item | img_url: '115x' %}

<div class="border-bottom-detail" data-id="{{ item.id }}" data-line-id="{{ forloop.index }}">
  <div class="grid-bar pt-30 pb-30 cart-grid-wrap flex flex-item-center margin-left--none! ">
    <div class="js-cart-item grid-item padding-left--none!">
      <div class="grid-bar flex flex-space-between flex-item-center large-down--column-gap-15 xlarge-down--column-gap-20 column-gap-30 margin-left--none after-none">

        <div class="grid-item cart-item-thumb padding-left--none!">
          <a class="image-container" href="{{ product_url | within: collections.all }}">
            <img src="{{ image_src }}" alt="{{ item.title | escape }}" />
          </a>
        </div>

        <div class="grid-item cart-item-ptitle padding-left--none! flex flex-start flex-item-center">
          <h2 class="margin--none font-size--0 line-height--up-4">
            <a class="font-primary large-down--font-size--0 font-size--up-1 block font-bold" href="{{ product_url }}">
              {{ product_title }}
              {% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                <br>
                  {% for option in item.product.options %}
                    {% unless item.variant.option2 or item.variant.option3 or option contains "Title" %}
                      {{ option }}:
                    {% endunless %}
                  {% endfor %}
                   <small class="large-down--font-size--0 small--font-size--down-1 hide">{{ item.variant.title }}</small>
                {% endunless %}
              {% endif %}
              <span class="large-down--font-size--0 font-size--down-2 padding-top--down-1 block padding-top--down-4 padding-bottom--down-3 hide">
                {{ section.settings.product_metadata_product_number_label }} {{ item.variant.sku }}
              </span>
              {% if finish %}
              <span class="js-collection-finish large-down--font-size--0 font-size--up-1 line-height--up-4 block pt-5 pb-5" style="color:#6d6d6d;">
                {{ finish }}
              </span>
              {% endif %}
            </a>
          </h2>

          {% assign has_properties = false %}
          {% if item.properties == empty %}
            {% assign has_properties = false %}
          {% endif %}
          {% for p in item.properties %}
            {% if p.last == blank %}
              {% continue %}
            {% else %}
              {% assign has_properties = true %}
            {% endif %}
          {% endfor %}

          {% if has_properties %}
            <ul class="large--padding-left--up-3 margin--none">
              <li class="font-size--down-2 line-height--down-1">
                {% for p in item.properties %}
                  {% comment %} unless p.last == blank {% endcomment %}
                  {%- comment -%}note: we already list finish above, don't want to list it again. just exists for admin / email purposes{%- endcomment -%}
                  {% if p.first == "Backorder Status" %}
                    <div class="margin-bottom--0 font-size--down-2 margin-top--down-6 padding--down-2 box-primary text-inverted">
                      {{ p.last }}
                    </div>
                    {% continue %}
                  {% endif %}
                  {% unless p.last == blank or p.first == "Finish" %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              </li>
            </ul>
          {% endif %}
          <div class="grid-item padding-left--none! show-on-large">
            <span class="h4 font-primary line-height--up-4 font-size--up-1 font-bold pb-15 inline-block large-down--font-size--0" data-price-type="total" data-price="{{ price_total }}">{{ price_total_label }}</span>
          </div>
          <div class="grid-item padding-left--none! flex flex-start flex-item-center cart-product-details show-on-large">
            <div class="grid-item padding-left--none! item-quantity text-left">
              <div class="grid-bar js-quantity-container text-center margin--none font-secondary margin-bottom--none margin-left--noe">
                {% comment %} <div class="grid-item small--one-third medium--one-third large--three-tenths cursor-pointer js-quantity-control padding-top-bottom--down-1" data-control="remove">
                  <span class="font-bold font-size--up-2 line-height--none">&ndash;</span>
                </div> {% endcomment %}
                <div class="grid-item custom-number-input padding-left--none!">
                  <div class="cursor-pointer js-quantity-control dec" data-control="remove">
                    <span>{% include 'icon-negative' %}</span>
                  </div>
                  <input class="js-quantity-input margin-bottom--none text-center font-secondary font-size--up-1 font-bold margin--none pt-7 pb-7" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" max="9999" />
                  <div class="cursor-pointer js-quantity-control inc" data-control="add">
                    <span>{% include 'icon-plus' %}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item padding-left--none! item-remove text-right">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><span class="">{% include 'icon-trash' %}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item padding-left--none! flex flex-start flex-item-center cart-product-details hide-on-large">
      <div class="grid-bar position-relative flex flex-item-center flex-space-between cart-item-details margin-left--none">
        <div class="grid-item padding-left--none! item-price-data">
          <span class="h4 font-primary line-height--up-4 font-size--up-1" data-price-type="each" data-price="{{ price_each }}">{{ price_each_label }}</span>
        </div>
        <div class="grid-item padding-left--none! item-quantity">
          <div class="grid-bar js-quantity-container text-center margin--none font-secondary margin-bottom--none margin-left--noe">
            {% comment %} <div class="grid-item small--one-third medium--one-third large--three-tenths cursor-pointer js-quantity-control padding-top-bottom--down-1" data-control="remove">
              <span class="font-bold font-size--up-2 line-height--none">&ndash;</span>
            </div> {% endcomment %}
            <div class="grid-item custom-number-input padding-left--none!">
              <div class="cursor-pointer js-quantity-control dec" data-control="remove">
                <span>{% include 'icon-negative' %}</span>
              </div>
              <input class="js-quantity-input margin-bottom--none text-center font-secondary font-size--up-1 font-bold margin--none pt-7 pb-7" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" max="9999" />
              <div class="cursor-pointer js-quantity-control inc" data-control="add">
                <span>{% include 'icon-plus' %}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-item padding-left--none! item-total">
          <span class="h4 font-primary line-height--up-4 font-size--up-1 font-bold" data-price-type="total" data-price="{{ price_total }}">{{ price_total_label }}</span>
        </div>

        <div class="grid-item padding-left--none! item-remove">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><span class="">{% include 'icon-trash' %}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
