{% assign title = settings.customer_login_title %}

{% assign description = settings.customer_login_description | default: false %}

{% assign call_to_action = settings.customer_login_call_to_action %}

{% assign registration_prompt = settings.customer_login_registration_question %}

{% assign registration_call_to_action = settings.customer_login_registration_call_to_action %}

{% assign forgot_password_prompt = settings.customer_login_forgot_password %}

<div class="js-form-container text-center">
    
        <h1 class="font-size--up-9 small--font-size--up-6 medium--font-size--up-6 font-bold font-secondary large--font-size--up-8 large--line-height--up-9 medium-down--line-height--up-6">
          {{ title }}
        </h1>
        {% if description %}
          <p class="font-primary large--font-size--up-1 margin-bottom--up-2">{{ description }}</p>
        {% endif %}
      {% form "customer_login" %}

        {% if form.errors %}
          <div class="text-links">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
		<label class="text-left font-bold font-size--down-1">Email Address</label>
        <input type="email" id="login-email" class="input margin-bottom--up-2 border-detail margin-bottom padding-left-right--up-1 padding-top-bottom--down-1" name="customer[email]"  value="" autocorrect="off" autocapitalize="off" autofocus required />
		<label class="text-left font-bold font-size--down-1">Password</label>
        <input type="password" id="login-password" class="input margin-bottom--up-3 border-detail margin-bottom  padding-left-right--up-1 padding-top-bottom--down-1" name="customer[password]"  value="" required />

        <button type="submit" class="block button-inverted-filled border-default small--one-quarter one-fifth small--padding-top-bottom--down-1 padding-top-bottom--0 text-default margin-bottom--up-2 small--font-size--down-1 medium--font-size--up-0">{{ call_to_action }}</button>

        <p class="font-primary line-height--up-5">
          {{ registration_prompt }}
          <a class="text-default hover-text-primary small--font-size--down-1" href="/account/register">
            {{ registration_call_to_action }}
          </a>
        </p>
		<p class="medium-down--padding-bottom--up-2 medium-down--margin-bottom--up-3 medium-down--border-bottom-detail">
          <a href="#" class="js-toggle-forms text-default hover-text-primary font-primary line-height--up-9 small--font-size--down-1">
            {{ forgot_password_prompt }}
          </a><br />
        </p>
        
      {% endform %}
    
  
	
</div>
