<!-- START Google Dynamic Remarketing For Theme.Liquid -->
<script type="text/javascript">

{% if template contains 'collection' %}
// Collection Page
// {{ collection.all_products.first.variants.first.sku }}
// {{ collection.all_products.first.id }}
// {{ collection.all_products.first.variants.first.id }}
var google_tag_params = {
ecomm_pagetype: 'category'
};

{% elsif template contains 'product' %}
// Product Page
// {{ product.variants.first.sku }}
// {{ product.id }}
// {{ product.variants.first.id }}
var google_tag_params = {
ecomm_prodid: ['{{ product.id }}'],
ecomm_pagetype: 'product',
ecomm_totalvalue: {{ product.price_min | money_without_currency | remove: "," }}
};

{% elsif template contains 'cart' %}
// Cart Page
// {{ item.variant.sku }}
// {{ item.id }}
// {{ item.variant_id }}
var google_tag_params = {
ecomm_prodid: [{% for item in cart.items %}'{{ item.id }}'{% if forloop.last != true %},{% endif %}{% endfor %}],
ecomm_pagetype: 'cart',
ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: "," }}
};

{% elsif template contains 'search' %}
// Search Page
var google_tag_params = {
ecomm_pagetype: 'searchresults'
};

{% elsif template contains 'index' %}
// Home Page
var google_tag_params = {
ecomm_pagetype: 'home'
};

{% else %}
// Other Page
var google_tag_params = {
ecomm_pagetype: 'other'
};
{% endif %}
</script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1029908499;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
var google_conversion_format = 3;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1029908499/?value=0&guid=ON&script=0"/>
</div>
</noscript>
<!-- END Google Dynamic Remarketing For Theme.Liquid -->