{% assign current_product = product %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% include "attribute-product-on-sale" %}
{% include "attribute-product-in-cart" %}
{% include "attribute-product-finish" %}
{% include "attribute-product-variant-size" %}
{% include "attribute-product-backorder-message" %}

{% assign inventory_quantity = current_variant.inventory_quantity %}

{% assign qty_input_js_class = '' %}
{% if template == "collection" %}
  {% assign qty_input_js_class = 'js-pass-through-quantity' %}
{% endif %}

{% assign grid_size_class = grid_size_class | default: "xlarge--one-fifth large--one-quarter medium--one-third small--one-half" %}

{% assign href = product.url | within: collection %}

{% assign image_url = product.featured_image.src | img_url: "360x" %}

{% assign image_alt = product.featured_image.alt | escape %}

{% assign product_title = product.title | remove: "TEST: " %}

{% assign default_quantity = 1 %}

{% if variant_size > 1 %}
  {% assign add_to_cart_call_to_action = settings.collection_product_listing_multiple_variants %}
  {% assign button_link = product.url | within: collection %}
{% else %}
  {% assign add_to_cart_call_to_action = settings.collection_product_listing_add_to_cart %}
  {% assign button_link = "/cart" %}
{% endif %}

{% assign added_to_cart_call_to_action = settings.collection_product_listing_added_to_cart %}

{% assign quantity_label = settings.collection_product_listing_qty_label %}

<div class="js-product theme-product-list-item grid-item {{ grid_size_class }}  padding-left--none!" data-id="{{ product.first_available_variant.id }}" data-price="{{ product.price }}">
  <div class="pb-50">
    <div class="grid product-detail-kit-collection margin-left--none!">
      <div class="grid-item product-thumb padding-left--none!">
        <div class="medium-down--padding-left-right--up--2">
          <a href="{{ href }}" class="js-product-thumbnail-container image-container" style="background-image: url('{{ image_url }}'); background-size: contain; background-repeat: no-repeat; background-position: center center;">
            <img style="visibility: hidden" src="{{ image_url }}" alt="{{ image_alt }}" />
          </a>
        </div>
      </div>
      <div class="grid-item product-kit-details padding-left--none!">
        <div class="pb-5">
          {% include "product-list-item-reviews-badge" %}
        </div>
        <div>
          <div class="font-size--down-1 pb-5">
            {{ settings.product_metadata_product_number_label }} {{ current_variant.sku }}
          </div>
        </div>
        {% include "product-list-item-inventory-levels" %}
        <h3 class="js-collection-product-title margin-bottom--none  pb-5 font-bold">
          <a class="hover-text-underline" href="{{ href }}">
            {{ product_title }}
          </a>
        </h3>
        {% if finish %}
        <span class="js-collection-finish font-size--down-1 pb-5 inline-block">
            {{ finish }}
          </span>
        {% endif %}
        {% comment %} Product Price {% endcomment %}
        <p class="text-left pb-10 margin--none">
          <span class="font-bold font-primary font-size--down-1">{{ product.price | money }}</span>
        </p>
        <div class="product-kit-cart">
          {% if current_variant.inventory_quantity < 0 %}
            <div class="js-backorder-message position-relative position-top-negative--up-4 font-size--down-1 line-height--down-1" {% unless in_cart %}style="display: none"{% endunless %}>
              {% include "product-form-backorder-message" %}
            </div>
          {% endif %}
          {% include 'product-form-finish-line-item-property' %}
          {% include "product-list-item-quantity-selection" %}
          {% include "product-list-item-call-to-action" %}
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="Backorder Status" value="{{ backorder_message | strip_html | strip | escape }}" />
  <span class="js-inventory-quantity" style="display: none">{{ inventory_quantity }}</span>
</div>
