{% assign title = settings.customer_register_title %}

{% assign description = settings.customer_register_description %}

{% assign call_to_action = settings.customer_register_call_to_action %}

{% assign back_to_login_prompt = settings.customer_register_back_to_login %}

{% assign login_call_to_action = settings.customer_login_title %}

{% comment %} {% include "breadcrumb" %} {% endcomment %}

<div class="customer-form-container customer-login-form-container">
  <div class="flex medium-down--flex-direction--column">
    {% comment %} <div class="flex-item--4 padding-right--up-5">
      <div class="large--padding-bottom--up-6 large--border-bottom-detail margin-bottom--up-3">
        <h1 class="font-size--up-9 small--font-size--up-5 medium--font-size--up-6 font-bold font-secondary large--line-height--up-9 medium-down--line-height--up-6">
          {{ title }}
        </h1>
        {% if description %}
          <p>{{ description }}</p>
        {% endif %}
      </div>
      <p class="text-links font-secondary font-size--up-2 line-height--up-5 text-links font-secondary font-size--up-2 line-height--up-5 medium-down--hide">
        {{ back_to_login_prompt }}
        <br>
        <a class="text-primary" href="/account/login">
          {{ login_call_to_action }}
        </a>
      </p>
    </div> {% endcomment %}
    <div class="flex-item--12">

      <div class="text-center pb-20">
        <h1 class="font-size--up-9 small--font-size--up-5 medium--font-size--up-6 font-bold font-secondary large--line-height--up-9 medium-down--line-height--up-6">
          {{ title }}
        </h1>
        {% if description %}
          <p>{{ description }}</p>
        {% endif %}
      </div>

      {% form "create_customer" %}

        {% if form.errors %}
          <div class="text-links">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <input type="text" id="register-first-name" class="input margin-bottom--up-2 border-detail margin-bottom padding-left-right--up-1 padding-top-bottom--down-1" name="customer[first_name]" placeholder="First Name" value="" autocapitalize="words" autofocus />

        <input type="text" id="register-last-name" class="input margin-bottom--up-2 border-detail margin-bottom padding-left-right--up-1 padding-top-bottom--down-1" name="customer[last_name]" placeholder="Last Name" value="" autocapitalize="words" />

        <input type="email" id="register-email" class="input margin-bottom--up-2 border-detail margin-bottom padding-left-right--up-1 padding-top-bottom--down-1" name="customer[email]" placeholder="Email" value="" autocorrect="off" autocapitalize="off" required />

        <input type="password" id="register-password" class="input margin-bottom--up-2 border-detail margin-bottom padding-left-right--up-1 padding-top-bottom--down-1" name="customer[password]" placeholder="Password" value="" required />
        <div class="flex-bar flex-direction--column">
          <button type="submit" class="block button-inverted-filled border-default text-default margin-bottom--up-2 font-size--up-1 pt-15 pb-15 pl-15 pr-15">
            {{ call_to_action }}
          </button>
        </div>
        <p class="text-links font-secondary font-size--up-2 line-height--up-5 large--hide">
          {{ back_to_login_prompt }}
          <a class="text-primary" href="/account/login">
            {{ login_call_to_action }}
          </a>
        </p>
      {% endform %}
      <p class="text-links font-secondary font-size--up-2 line-height--up-5 text-links font-secondary font-size--up-2 line-height--up-5 medium-down--hide">
        {{ back_to_login_prompt }}
        <br>
        <a class="text-primary" href="/account/login">
          {{ login_call_to_action }}
        </a>
      </p>
    </div>
  </div>

</div>
