{% assign title = settings.customer_reset_password_title %}

{% assign description = settings.customer_reset_password_description %}
{% assign description = description | replace: "{{ customer_email }}", email %}
{% assign description = description | default: false %}

{% assign call_to_action = settings.customer_reset_password_call_to_action %}

{% include "breadcrumb" %}

<div class="customer-form-container medium--padding-top--up-4 small--padding-top--up-2 large--padding-bottom--up-7 medium-down--padding-bottom--up-5">
  <div class="padding-top--up-4 padding-bottom--up-7">

    <div class="flex medium-down--flex-direction--column">
      <div class="flex-item--4 padding-right--up-5">
        <h1 class="font-size--up-9 small--font-size--up-5 medium--font-size--up-6 font-bold font-secondary large--line-height--up-9 medium-down--line-height--up-6">
          {{ title }}
        </h1>
      </div>
      <div class="flex-item--8">
        {% form "reset_customer_password" %}

          {% if form.errors %}
            <div class="text-links">
              {{ form.errors | default_errors }}
            </div>
          {% elsif description %}
            <p>{{ description }}</p>
          {% endif %}

          <input class="input margin-bottom--up-2 border-detail margin-bottom--none padding-top-bottom--up-1 padding-left--up-1" type="password" id="reset-password" placeholder="Password" name="customer[password]" value="" />

          <input class="input margin-bottom--up-2 border-detail margin-bottom--none padding-top-bottom--up-1 padding-left--up-1" type="password" id="reset-password-confirmation" placeholder="Confirm Password" name="customer[password_confirmation]" value="" />

          <button type="submit" class="block padding-top-bottom--up-1 button-primary-filled border-primary-thicker hover-border-primary-thicker font-size--up-1 one-whole medium-down--padding-top-bottom--0">
            {{ call_to_action }}
          </button>
        {% endform %}
      </div>
    </div>

  </div>
</div>
