{% assign current_product = product %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% include "attribute-product-json" %}
{% include "attribute-product-featured-image" %}
{% include "attribute-product-options" %}
{% include "attribute-product-product-number" %}
{% include "attribute-variant-on-sale" %}
{% include "attribute-product-finish" %}
{% include "attribute-product-variant-size" %}

{% include "attribute-product-data-sheet" %}
{% include "attribute-product-data-sheet-thumbnail" %}
{% include "attribute-product-data-sheet-alt" %}

{% include "attribute-product-backorder-message" %}
{% include "attribute-product-kit-price-range" %}

{% comment %} TODO fill in actual logic {% endcomment %}
{% include "attribute-product-instructional-video" %}
{% assign instructional_video = false %}

<div>

  <div class="theme-container cover-container padding-bottom--up-4 product-detail-wrapper">
    <div class="grid large--grid-gutter--up-2 product-detail-wrapper">
      <div class="grid-item product-detail-page-top-section padding-left--none! flex flex-direction--row large-down--flex-direction--column flex-space-between">
        {% assign in_stock_label = settings.product_metadata_product_in_stock_label %}
            {% assign inventory_quantity = current_variant.inventory_quantity %}
          <div class="large-down--show hide">
              <h1 class="pb-15 font-size--up-7 font-secondary font-bold margin-bottom--none">
                {{ current_product.title }}
              </h1>
              {% include "product-reviews-badge" %}
              <div class="flex medium--font-size--down-1 small--font-size--down-1 font-size--up-1 font-bold pb-15 mb-font-size-small">{% include "product-current-variant-sku" %}<span class="padding-left-right--0">|</span><span class="text-default font-bold js-inventory-quantity pt-2 pb-2">{{ in_stock_label }} {{ inventory_quantity }}</span></div>
          </div>

          {% include "product-gallery" %}

        <div class="grid-item xlarge--padding-left--none product-details" style="background-color: #fafafa">
          <div class="product-kit-detail-section">
            <div class="large-down--hide show">
                {% include "breadcrumb" %}
                <h1 class="pb-20 font-size--up-7 font-secondary font-bold margin-bottom--none">
                  {{ current_product.title }}
                </h1>
                <div class="flex font-size--up-1 font-bold pb-20">{% include "product-current-variant-sku" %}<span class="padding-left-right--0">|</span><span class="text-default font-bold js-inventory-quantity pt-2 pb-2">{{ in_stock_label }} {{ inventory_quantity }}</span></div>
              </div>
              {% comment %} {% include "product-kit-form" %} {% endcomment %}
              {% include "product-number-finish" %}
          </div>
          {% include "kit-collection-product-list" %}
          <div class="">
            <div class="theme-container xsmall--pb-40 small--pb-40 medium--pb-50 large--pb-50 xlarge--pb-50 xlarge--pl-50 xlarge--pr-50">
              <div>
                <div class="grid product-details-section margin-left--none">
                  {% include "product-description-bullets" %}
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="Backorder Status" value="{{ backorder_message | strip_html | strip | escape }}" />
        </div>
      </div>
    </div>
  </div>

</div>

<!-- SearchSpring IntelliSuggest Tracking -->
<script type="text/javascript" src="//cdn.searchspring.net/intellisuggest/is.min.js"></script>
<script type="text/javascript">
try{
    var product_code = "{{ product.variants[0].sku }}";
    IntelliSuggest.init({siteId:"nsbyo5", context:"Product/" + product_code, seed:product_code});
    IntelliSuggest.viewItem({sku:product_code});
} catch(err) {}
</script>
<!-- END SearchSpring IntelliSuggest -->


{% schema %}
{
  "name": "Product Kit",
  "settings": [
  ]
}
{% endschema %}